div.tabs { 
    border:none;
    ul.tabs.primary { 
        background:none; 
    }
    ul.tabs { 
        border:none;
        border-bottom:1px solid #ccc;
    }
}
ul.primary li.active a { 
    background-color: #ccc;   
}
.top-bar { 
    ul li.leaf { 
       list-style:none; 
    }
    .button a { 
        color:white;   
    }
}

.radius { 
    @include border-radius(6px, 6px);   
}
#sidebar-first { 
    margin-top:60px;
    .button { 
           
    }
}
#logo { 
    margin-bottom:20px;
    display:block;
}   
.submitted { 
    font-size:rem-calc(12);  
    margin-bottom:20px;
}
.form-item .description { 
    font-size:0.75em; 
    color:#999;
}
#edit-field-location-und-0-value { 
    margin-bottom:0;   
}
#footer { 
    margin-top:50px;   
}
#block-masquerade-masquerade { 
    margin-top:100px;
    div.form-item { 
        margin-top:0.2em;   
    }
    #quick_switch_links { 
        margin-top:1em;   
    }
}
#edit-masquerade-user-field { 
    width:130px;
    float:left;
    margin-right:2px;
    height:auto;
    padding:0.2em 0.25em;
    margin-bottom:0;
}
form.node-form .form-actions .button { 
    margin-right:1em;   
}
#edit-preview { 
    display:none;   
}
.block-aicapp .button { 
    white-space:normal;   
}
.form-type-checkbox input { 
    margin-bottom:0;
}
.node .field-label, .node .field-items { 
   font-family: Roboto, Helvetica, Verdana, sans-serif; 
   font-size: rem-calc(13);
}
#block-aicapp-data-search, #aicapp-search-form { 
    overflow:auto;
    width:450px;
    .form-item { 
        margin:0;
        clear:both;
    }
    input { 
        margin-top:0;
        margin-bottom:0;
    }
    .form-text { 
        width:260px;
        /*float:left;*/
        margin-bottom:10px;
    }
}
#block-system-main input[type='text'] { 
    width:auto;
}
.form-type-managed-file { 
    margin-left:30px;   
}
.form-managed-file { 
    .form-submit { 
        margin-top:4px;
        margin-left:10px;
        font-family:Helvetica, Roboto, Arial, sans-serif;
        font-size:16px;
    }
}
a.tabledrag-handle .handle { 
    height:22px;
    width:18px;
}
#block-system-main .content .field { 
    margin-bottom:10px;   
}
tr.odd { 
    background-color:#e3e3e3;   
}

fieldset { 
    border: 1px solid #cacaca !important; 
    padding: 1.38889rem !important; 
    margin: 1.25rem 0 !important; 
}
fieldset legend { 
    background: #fefefe !important; 
    padding: 0 0.20833rem !important; 
    margin: 0 !important; 
    margin-left: -0.20833rem !important; 
}
#edit-status-wrapper { 
    width:150px;
}
.views-exposed-form .views-exposed-widget .form-submit { 
    margin-top:2em;   
}
.region-header #block-search-form { 
    width:230px;
    float:right;
    input.form-text { 
        width:155px;
        float:left;
        margin:0; 
        font-size:0.9em;
    }
    .form-actions { 
        float:left;
        margin-top:1px;
    }
}
.search-info { 
   display:none; 
}
#admin-menu { 
    -moz-box-shadow: 0 -10px 10px 9px #000;
    -webkit-box-shadow: 0 -10px 10px 9px #000;
    box-shadow: 0 -10px 10px 9px #000;   
}
.item-list .pager li {
    margin-left:0;
}
select {
    padding:0.25em 1em .25em .5em !important;
    font-size:0.9em !important;
}
.red {
    color:$alert-color;
}
.view-id-objects .view-header {
    a {
        padding:0  1em;
    }
    a:first-child {
        padding-left:0;
    }
}
.callout {
    width:200px;
    font-size:0.9em;
    float:right;
    margin-top:-120px !important;
}
p {
    font-size:0.9em !important;
    font-family: Roboto, Helvetica, Verdana, sans-serif;
}
#block-aicapp-updates-pending {
    display:inline-block;
    float:right;
    color:#3a3;
    font-size:0.9em;
    padding-right:16px;
    padding-top:14px;
}
.pending {
    color:#d44;
}